.featured-image-info {
    background-color: var(--background-secondary);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.featured-image-info-text {
    margin: 0;
    color: var(--text-muted);
    font-size: 0.9em;
}

.featured-image-status {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    color: var(--text-muted);
    cursor: default;
}

.featured-image-status:hover {
    color: var(--text-normal);
}
